@import './variables.less';
.spy-card {
  background-color: transparent;
  display: flex;
  color: @basic-white;
  position: fixed;
  z-index: 1;
  min-width: 128px;
  transform-origin: left center;
  cursor: pointer;

  &-media {
    flex: 0 1 auto;
    &__wrapper {
      min-height: 64px;
      min-width: 64px;
      background: #fff;
    }
  }

  &-content {
    position: relative;
    padding: 4px 8px;
    margin-top: -4px;
    border: 1px solid white;
  }
}
