@import './variables.less';
@import './card.less';
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  font-size: 14px;
  // font-family: Acens, PingFangSC, 'Microsoft YaHei', 'Helvetica Neue', Arial,
  //   sans-serif;
  font-family: PangMenZhengDao, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.clear {
  clear: both;
}

#app {
  height: 100%;
  min-width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #333;
}

.fade-opacity {
  &-enter-active,
  &-leave-active {
    transition: 0.1s ease-out;
  }

  &-enter,
  &-enter-active,
  &-leave,
  &-leave-active {
    opacity: 0;
  }

  &-enter-to,
  &-leave {
    opacity: 1;
  }
}

.fade-opacity-transform {
  &-enter-active,
  &-leave-active {
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  &-enter,
  &-enter-active,
  &-leave,
  &-leave-active {
    opacity: 0;
    // transform: scale(0);
  }

  &-enter-to,
  &-leave {
    // transform: scale(1);
    opacity: 1;
  }
}

.spy-mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  &__wrapper {
    position: relative;
    width: 100%;
    height: calc(100% - 64px);
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 36px;
    font-weight: 100;
    div {
      width: 100%;
      margin: 16px 0;
    }
  }
  &-img {
    min-height: 24px;
    min-width: 24px;
    width: auto !important;
    background-color: white;
  }

  &-bar {
    height: 6px;
    width: 20% !important;
    position: relative;
    border-radius: 8px;
    background-color: rgba(1, 1, 1, 0.2);

    &--fill {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      border-radius: 8px;
      background: #fff;
      margin: 0 !important;
      transition: width 0.2s;
    }
  }
}

// .spy-back {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   left: 0;
//   top: 0;
//   background-attachment: fixed;
//   background-size: auto 100%;
//   background-image: url('https://cdn.lagabu.com/factory/factory-1.png'),
//     url('https://cdn.lagabu.com/factory/factory-2.png'),
//     url('https://cdn.lagabu.com/factory/factory-3.png'),
//     url('https://cdn.lagabu.com/factory/factory-4.png'),
//     url('https://cdn.lagabu.com/factory/factory-5.png');
//   background-repeat: no-repeat;
//   filter: blur(10px);
// }
.spy-image {
  padding: 12px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132),
    0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
}
.spy-content {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  display: flex;
  height: 100%;
  // background: linear-gradient(
  //   to right,
  //   red,
  //   orange,
  //   yellow,
  //   green,
  //   cyan,
  //   blue,
  //   purple,
  //   black
  // );

  &__image {
    height: 100%;
    position: absolute;
  }
  &__image--wrapper {
    z-index: 2;
    height: 100%;
    position: relative;
    &::after {
      transition: all 0.5s ease-in-out;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: -1;
      background-size: cover;
    }
    &-pic0::after {
      background-image: url('https://cdn.lagabu.com/factory/factory-1.png');
    }
    &-pic1::after {
      background-image: url('https://cdn.lagabu.com/factory/factory-2.png');
    }
    &-pic2::after {
      background-image: url('https://cdn.lagabu.com/factory/factory-3.png');
    }

    &-pic3::after {
      background-image: url('https://cdn.lagabu.com/factory/factory-4.png');
    }

    &-pic4::after {
      background-image: url('https://cdn.lagabu.com/factory/factory-5.png');
    }

    &-filter::after {
      opacity: 0.9;
      filter: blur(20px);
    }
  }

  &__activator {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10vw;
    z-index: 99;
    background-color: transparent;
    &.left {
      left: 0;
    }
    &.right {
      left: auto;
      right: 0;
    }
  }
}

.spy-controller {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  padding: 0 8px;

  @media screen and (min-width: 640px) {
    padding: 0 16px;
  }

  @media screen and (min-width: 1200px) {
    padding: 0 32px;
  }

  &--logo {
    position: relative;
    min-width: 128px;
    &::before {
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      content: '';
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: @basic-white;
    }

    cursor: pointer;
  }
  &--content {
    flex: 1;
    // margin: 0 32px;
    max-width: 50%;
    min-width: 256px;
    border-radius: 4px;
    height: 8px;
    background-color: @basic-white;
    cursor: pointer;
    margin: auto;
    position: relative;
  }

  &--fill {
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #48ff00;
  }

  &--actions {
    padding: 0 8px;
    display: flex;
    flex-wrap: wrap;
  }
  &--icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: @basic-white;
    margin: 0 8px;
    display: flex;
    justify-content: center;
    cursor: pointer;

    &:first-child {
      margin-left: -8px;
    }
    &:last-child {
      margin-right: -8px;
    }
  }

  &__wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 64px;
    width: 100%;
    display: flex;
    z-index: 100;
    background-color: @basic-black;
  }
}

.spy-icon {
  font-size: 16px;
  color: @basic-grey;
  align-self: center;
}

.spy-row {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  &--column {
    flex-direction: column;
  }
  &--align-center {
    align-items: center;
  }
}

.spy-default-avatar {
  width: 48px;
  height: 48px;
  background-color: @basic-white;
  border-radius: 50%;
}

.spy-default-list-item {
  width: 64px;
  height: 14px;
  border-radius: 2px;
  background-color: @basic-white;
  margin: 4px 0 4px 16px;
  &:not(:first-child) {
    height: 10px;
    width: 56px;
  }
}

.spy-title {
  color: rgb(10, 199, 35);

  &--red {
    color: rgb(255, 0, 104);
  }
}
.spy-text {
  color: white;
}
.spy-title,
.spy-title--red,
.spy-text {
  font-size: 18px;
  font-weight: 100;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

ol {
  margin: 0;
  padding-left: 24px;
  li {
    line-height: 1.5;
  }
}
