@import './variables.less';
@import './card.less';
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.clear {
  clear: both;
}

#app {
  height: 100%;
  min-width: 100%;
  overflow: hidden;
  position: relative;
}

.spy-content {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  display: flex;
  height: 100%;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    purple,
    black
  );

  &__image {
    height: 100%;
  }

  &__activator {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10vw;
    z-index: 99;
    background-color: transparent;
    &.left {
      left: 0;
    }
    &.right {
      left: auto;
      right: 0;
    }
  }
}

.spy-controller {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  padding: 0 8px;

  @media screen and (min-width: 640px) {
    padding: 0 16px;
  }

  @media screen and (min-width: 1200px) {
    padding: 0 32px;
  }

  &--logo {
    position: relative;
    min-width: 128px;
    &::before {
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      content: '';
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: @basic-white;
    }

    cursor: pointer;
  }
  &--content {
    flex: 1;
    // margin: 0 32px;
    max-width: 50%;
    min-width: 256px;
    border-radius: 4px;
    height: 8px;
    background-color: @basic-white;
    cursor: pointer;
    margin: auto;
    position: relative;
  }

  &--fill {
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #48ff00;
  }

  &--actions {
    padding: 0 8px;
    display: flex;
    flex-wrap: wrap;
  }
  &--icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: @basic-white;
    margin: 0 8px;
    display: flex;
    justify-content: center;
    cursor: pointer;

    &:first-child {
      margin-left: -8px;
    }
    &:last-child {
      margin-right: -8px;
    }
  }

  &__wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 64px;
    width: 100%;
    display: flex;
    z-index: 100;
    background-color: @basic-black;
  }
}

.spy-icon {
  font-size: 16px;
  color: @basic-grey;
  align-self: center;
}

.spy-row {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  &--column {
    flex-direction: column;
  }
  &--align-center {
    align-items: center;
  }
}

.spy-default-avatar {
  width: 48px;
  height: 48px;
  background-color: @basic-white;
  border-radius: 50%;
}

.spy-default-list-item {
  width: 64px;
  height: 14px;
  border-radius: 2px;
  background-color: @basic-white;
  margin: 4px 0 4px 16px;
  &:not(:first-child) {
    height: 10px;
    width: 56px;
  }
}
